@import "tailwindcss/base";

@import "tailwindcss/components";
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
html {
  scroll-behavior: smooth;
}
.jumptarget:before {
  height: 9rem;
  content: "";
  display: block;
  margin: -80px 0 0;
}

.black-color {
  color: #252525 !important;
}
.black-bg-color {
  background-color: #252525;
}
#top-nav {
  transition: all 400ms ease-in-out;
}
.color-red {
  color: #ec0000;
}
.owl-prev {
  left: -85px;
}
.owl-next {
  right: -85px;
}
.owl-prev,
.owl-next {
  width: 50px;
  height: 50px;
  top: 25%;
  position: absolute;
  display: block !important;
  border: 2px solid #999 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}
.owl-prev span,
.owl-next span {
  font-size: 30px;
  height: 100%;
}
.owl-prev i,
.owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}
@media only screen and (max-width: 800px) {
  .owl-prev,
  .owl-next {
    display: none !important;
  }
}

@media only screen and (max-width: 1360px) {
  .owl-prev {
    left: -40px;
  }
  .owl-next {
    right: -40px;
  }
  .owl-prev,
  .owl-next {
    vertical-align: center;
    width: 40px;
    height: 40px;
  }
  .owl-prev span,
  .owl-next span {
    font-size: 22px;
  }
}
/* .dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
} */

@import "tailwindcss/utilities";
